
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
}

header .logo {
    margin-left: 2em;
    font-weight: 600;
    font-size: 1rem;
    cursor: context-menu;
}

header .logo h3 {
    letter-spacing: 2px;
}

header .icon {
    margin-right: 2em;
}

header .icon img {
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    height: 25px;
    width: 25px;
    transition: all 0.5s ease-in-out;
} 

header .icon img:hover, header .icon img:focus {
    transform: scale(1.2);
}

main {
    padding: 4em 2em 4em 2em;
    text-align: center;
    width: 100%;
}

main h1 {
    margin-bottom: 1em;
    font-weight: 1500;
    font-size: 2.5rem;
    color: #24EDD5;
}

main p {
    font-size: 0.8rem;
    line-height: 30px;
    text-align: justify;
    font-weight: 600;
}

@media screen and (min-width:700px) {
    header .logo {
        font-size: 1.5rem;
    }

    main h1 {
        font-size: 8rem;

    }

    main p {
        padding: 0 12em;
        font-size: 1rem;
    }
    
}